body {
  margin: 0px;
}

img {
  width: 100%;
}

.parallax {
  display: none;
  position: relative;
  width: 100%;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumbs {
  transform: translateZ(-1px) scale(2);
}

.caption {
  height: 206px;
  top: 48.5%;
  border-top: 20px;
  border-left: 0px;
  border-bottom: 20px;
  border-right: 0px;
  border-color: white;
  border-style: solid;
}

.captions {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  z-index: 10;
  background-color: transparent;
  text-align: center;
  width: 100%;
  transform: translateZ(0) scale(1);
}

span {
  background-color: black;
}