body {
  margin: 0px;
}

img {
  width: 100%;
}

.parallax {
  display: none;
  position: relative;
  width: 100%;
  perspective: 1px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 100vh;
}

.layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.thumbs {
  position: absolute;
  transform: translateZ(-15px) scale(16);
}

.caption {
  height: 193px;
  border-top: 20px;
  border-left: 0px;
  border-bottom: 20px;
  border-right: 0px;
  border-color: white;
  border-style: solid;
  display: -webkit-flexbox;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  justify-content: center;
}

.captions {
  font-family: Helvetica;
  font-size: 18px;
  color: white;
  z-index: 10;
  background-color: transparent;
  text-align: center;
  width: 100%;
  transform: translateZ(-10px) scale(11);
}

span {
  background-color: black;
}